asgiref==3.7.2; python_version >= "3.8"
autoflake==2.2.1; python_version >= "3.8"
black==23.9.1; python_version >= "3.8"
certifi==2023.7.22; python_version >= "3.7"
charset-normalizer==3.3.0; python_full_version >= "3.7.0" and python_version >= "3.7"
click==8.1.7; python_version >= "3.8"
colorama==0.4.6; python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.7.0" and platform_system == "Windows"
crispy-bootstrap5==0.7; python_version >= "3.7"
django-crispy-forms==2.0; python_version >= "3.7"
django-filter==23.3; python_version >= "3.7"
django-health-check==3.17.0; python_version >= "3.8"
django-htmx==1.16.0; python_version >= "3.8"
django-rest-framework==0.1.0
django==4.2.5; python_version >= "3.8"
djangorestframework==3.14.0; python_version >= "3.6"
gunicorn==21.2.0; python_version >= "3.5"
idna==3.4; python_version >= "3.7"
install==1.3.5; python_version >= "3.5"
logtail-python==0.2.6
loguru==0.7.2; python_version >= "3.5"
markdown==3.4.4; python_version >= "3.7"
msgpack==1.0.7; python_version >= "3.8"
mypy-extensions==1.0.0; python_version >= "3.8"
packaging==23.2; python_version >= "3.8"
pathspec==0.11.2; python_version >= "3.8"
pendulum==2.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
platformdirs==3.11.0; python_version >= "3.8"
psycopg2-binary==2.9.9; python_version >= "3.7"
pyflakes==3.1.0; python_version >= "3.8"
python-dateutil==2.8.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
python-dotenv==1.0.0; python_version >= "3.8"
pytz==2023.3.post1; python_version >= "3.6"
pytzdata==2020.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
requests==2.31.0; python_version >= "3.7"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
sqlparse==0.4.4; python_version >= "3.8"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.8"
typing-extensions==4.8.0; python_version < "3.11" and python_version >= "3.8"
tzdata==2023.3; sys_platform == "win32" and python_version >= "3.8"
urllib3==2.0.6; python_version >= "3.7"
whitenoise==6.5.0; python_version >= "3.7"
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
