asgiref==3.7.2 ; python_version == "3.10"
async-timeout==4.0.3 ; python_version == "3.10"
certifi==2023.7.22 ; python_version == "3.10"
charset-normalizer==3.3.0 ; python_version == "3.10"
colorama==0.4.6 ; python_version == "3.10" and sys_platform == "win32"
crispy-bootstrap5==0.7 ; python_version == "3.10"
django-crispy-forms==2.0 ; python_version == "3.10"
django-environ==0.11.2 ; python_version == "3.10"
django-filter==23.3 ; python_version == "3.10"
django-health-check==3.17.0 ; python_version == "3.10"
django-ory-auth==0.1.3 ; python_version == "3.10"
django-trix==0.3.0 ; python_version == "3.10"
django==4.2.6 ; python_version == "3.10"
djangorestframework==3.14.0 ; python_version == "3.10"
gunicorn==21.2.0 ; python_version == "3.10"
hiredis==2.2.3 ; python_version == "3.10"
idna==3.4 ; python_version == "3.10"
logtail-python==0.2.6 ; python_version == "3.10"
loguru==0.7.2 ; python_version == "3.10"
msgpack==1.0.7 ; python_version == "3.10"
packaging==23.2 ; python_version == "3.10"
pendulum==2.1.2 ; python_version == "3.10"
psycopg2-binary==2.9.9 ; python_version == "3.10"
python-dateutil==2.8.2 ; python_version == "3.10"
python-dotenv==1.0.0 ; python_version == "3.10"
pytz==2023.3.post1 ; python_version == "3.10"
pytzdata==2020.1 ; python_version == "3.10"
redis==5.0.1 ; python_version == "3.10"
requests==2.31.0 ; python_version == "3.10"
six==1.16.0 ; python_version == "3.10"
sqlparse==0.4.4 ; python_version == "3.10"
typing-extensions==4.8.0 ; python_version == "3.10"
tzdata==2023.3 ; sys_platform == "win32" and python_version == "3.10"
urllib3==1.26.17 ; python_version == "3.10"
win32-setctime==1.1.0 ; sys_platform == "win32" and python_version == "3.10"
