
{% load static %}
<div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="mb-0">Upcomimg Client Calls - {{ open_calls_items_count }}</h2>
                    </div>
                    {% if open_calls_items_count > 0 %}
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col"></th>
                                    <th scope="col">Date Added</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Lead By</th>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Link</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in open_calls_items %}
                                    <tr class="customer-call">
                                    <td></td>
                                    <td>{{item.date_created}}</td>
                                    <td>{{ item.client }}</td>
                                    <td>{{ item.leading_call.first_name }}</td>
                                    <td>{{ item.title }}</td>
                                    <td><a href="{{ item.link_to_ticket}}"  target="_blank">{{item.link_to_ticket}}</a></td>
                                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                    <td><button class="btn btn-sm btn-warning" onclick="resolveItem({{ item.id }})">Resolve</button></td>
                                                                  <td><button class="btn btn-sm btn-info" onclick="moveToMonitoring({{ item.id }})">Move to Monitoring Only </button></td>
           
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

                        {% else %}  
                        <div class="text-center p-4">
                            <h1>Ohh...Yea! No Open Items For Review</h1>
                        </div>  
                                         {% endif %}
                             </tbody>
                         </table>
+                    </div>
+                </div>
+            </div>
+
            