<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-6 col-xl-3">
      <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-solid fa-calendar-day fa-3x" style="color: #7a1dd7;"></i>
        <div class="ms-3">
          <p class="mb-2">Today's Date</p>
          <h6 class="mb-0">{{ current_agenda_date }}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-solid fa-chart-line fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Open Items on Agenda</p>
          <h6 class="mb-0">{{ open_items_count }}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-solid fa-dharmachakra fa-3x" style="color: #005eff;"></i> <div class="ms-3">
          <p class="mb-2">Today's Driver</p>
          <h6 class="mb-0">{{ current_agenda_driver }}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-solid fa-pencil fa-3x" style="color: #e2dd5a;"></i>
        <div class="ms-3">
          <p class="mb-2">Today's Scribe</p>
          <h6 class="mb-0">{{ current_agenda_notetaker }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
