{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Learnosity - Application Support Engineering - Team Standup</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content name="keywords">
        <meta content name="description">

        <!-- Favicon -->
        <link rel="shortcut icon"
            href="https://learnosity.b-cdn.net/favicon.ico">

        <!-- Google Web Fonts -->
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
            rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <script src="https://kit.fontawesome.com/58e27c88da.js"
            crossorigin="anonymous"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="https://learnosity.b-cdn.net/owl.carousel.min.css"
            rel="stylesheet">
        <link
            href="https://learnosity.b-cdn.net/tempusdominus-bootstrap-4.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

        <!-- Customized Bootstrap Stylesheet -->
        <link href="https://learnosity.b-cdn.net/bootstrap.min.css"
            rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="https://learnosity.b-cdn.net/style.css" rel="stylesheet">
        <script>




    </script>
    </head>
    <body>
        {% block MAIN %}
        {% endblock MAIN %}

        <div id="toast-node"></div>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://learnosity.b-cdn.net/chart.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@0.7.31/dist/flexsearch.bundle.js"></script>
        s
        <script src="https://learnosity.b-cdn.net/easing.min.js"></script>
        <script src="https://learnosity.b-cdn.net/waypoints.min.js"></script>
        <script src="https://learnosity.b-cdn.net/owl.carousel.min.js"></script>
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script src="https://learnosity.b-cdn.net/moment.min.js"></script>
        <script src="https://learnosity.b-cdn.net/moment-timezone.min.js"></script>
        <script
            src="https://learnosity.b-cdn.net/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="https://learnosity.b-cdn.net/main.js"></script>
        <script>
    {% block CUSTOM_SCRIPTS %}
    {% endblock CUSTOM_SCRIPTS %}
var resolvedToast = Toastify({
    text: CatchyPhrase('resolve'),
    duration: 1100,//
    gravity: "bottom", // `top` or `bottom`
    position: "center", // `left`, `center` or `right`
    stopOnFocus: true, // Prevents dismissing of toast on hover
    selector: "toast-node",
    style: {
        background: "linear-gradient(to right, #00b09b, #96c93d)",
    },
    callback: function () {
        location.reload()
    }

});
var successfulItemCreation = Toastify({
    text: "Item Added to the agenda!",
    duration: 1100,//
    gravity: "top", // `top` or `bottom`
    position: "center", // `left`, `center` or `right`
    stopOnFocus: true, // Prevents dismissing of toast on hover
    selector: "toast-node",
    style: {
        background: "linear-gradient(to right, #7F00FF, #4b0082)",
    },
    callback: function () {
        location.reload()
    }

});

var monitorToast = Toastify({
    text: CatchyPhrase('monitor'),
    duration: 1100,
    gravity: "bottom", // `top` or `bottom`
    position: "center", // `left`, `center` or `right`
    stopOnFocus: true, // Prevents dismissing of toast on hover
    selector: "toast-node",
    style: {
        background: "linear-gradient(to right, #FF0000, #000000 )",
    },
    callback: function () {
        location.reload()
    }

});


var myModal = new bootstrap.Modal(document.getElementById('add-item-modal'))


$.getJSON("https://the-dozens.onrender.com/insult", response => {
    $("#joke").text(
        Object.values(response)[0]
    );
});

</script>
    </body>

</html>
