{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Learnosity - Application Support Engineering - {{ title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="https://learnosity.b-cdn.net/favicon.ico" rel="icon" />

    {% include 'layouts/_styles.html' %}
    <style>
    {% block CUSTOM_STYLES %}
    {% endblock CUSTOM_STYLES %}
    </style>
    <script>


    {% block CUSTOM_SCRIPTS %}
    {% endblock CUSTOM_SCRIPTS %}
</script>
  </head>
  <body>
    {% block MAIN %}

    {% endblock %}
        <div id="toast-node"></div>
    <!-- JavaScript Libraries -->
    {% include 'layouts/_scripts.html' %}
  </body>
</html>
