<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"><style></style></head><body><u></u>



    
    
    
    
    

    
    

    
    
    
     
    
    
    
    

    
    
    

    
    

    
    


<div>
    <div class="m_container-fluid m_position-relative m_d-flex m_p-0">
        
        <div id="m_spinner" class="m_show m_bg-dark m_position-fixed m_translate-middle m_w-100 m_vh-100 m_top-50 m_start-50 m_d-flex m_align-items-center m_justify-content-center">
            <div class="m_spinner-border m_text-primary" style="width:3rem;height:3rem" role="status">
                <span class="m_sr-only">Loading...</span>
            </div>
        </div>
        


        
        <div class="m_container-fluid">
            <div class="m_row m_h-100 m_align-items-center m_justify-content-center" style="min-height:100vh">
                <div class="m_col-12 m_col-sm-8 m_col-md-6 m_col-lg-5 m_col-xl-4">
                    <div class="m_bg-secondary m_rounded m_p-4 m_p-sm-5 m_my-4 m_mx-3">
                        <div class="m_d-flex m_align-items-center m_justify-content-between m_mb-3">
                            <a href="https://www.google.com/url?q=http://index.html&amp;source=gmail-html&amp;ust=1696862306106000&amp;usg=AOvVaw2ZDnA5yPfat8aWLAwO-H5H" target="_blank" rel="noreferrer">
                                <h3 class="m_text-primary"><i class="m_fa m_fa-user-edit m_me-2"></i>DarkPan</h3>
                            </a>
                            <h3>Sign In</h3>
                        </div>
                        <div class="m_form-floating m_mb-3">
                            <input type="email" class="m_form-control" id="m_floatingInput">
                            <label for="m_floatingInput">Email address</label>
                        </div>
                        <div class="m_form-floating m_mb-4">
                            <input type="password" class="m_form-control" id="m_floatingPassword">
                            <label for="m_floatingPassword">Password</label>
                        </div>
                        <div class="m_d-flex m_align-items-center m_justify-content-between m_mb-4">
                            <div class="m_form-check">
                                <input type="checkbox" class="m_form-check-input" id="m_exampleCheck1">
                                <label class="m_form-check-label" for="m_exampleCheck1">Check me out</label>
                            </div>
                            <a rel="noreferrer">Forgot Password</a>
                        </div>
                        <button type="submit" class="m_btn m_btn-primary m_py-3 m_w-100 m_mb-4">Sign In</button>
                        <p class="m_text-center m_mb-0">Don&#39;t have an Account? <a rel="noreferrer">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    
    
    
    
    
    
    
    
    
    

    
    
</div>

</body></html>