{% extends "layouts/base-layout.html" %}
{% load static %}
{% block CUSTOM_SCRIPTS %}


{% endblock CUSTOM_SCRIPTS %}

{% block MAIN %}

{% include 'includes/_pre-loader.html' %}

    {% include "includes/sidebar.html" %}

    <!-- Content Start -->
    <div class="content">

        {% include "includes/navbar.html" %}

        <!-- Current Tasks Stats Start  -->
        {% include "includes/stats.html" %}

        <!-- Current Tasks Stats Ends -->

        <!-- Items Lists Start -->
        {% include "includes/review_list.html" %}
        {% include "includes/monitor_list.html" %}
        {% include "includes/focus_list2.html" %}
        {% include "includes/calls_list2.html" %}
        {% include "includes/internal_list2.html" %}
        {% include "includes/needs_list2.html" %}
        {% include "includes/updates_list2.html" %}
        {% include "includes/item-log.html" %}
</div>
        <!-- Item Lists End -->
</div>
    <!-- Footer Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded-top p-4">
</div>
</div>
                {% endblock MAIN %}
